body{ margin: 0;
text-align: center;
font-family: 'Merriweather', serif;
color:#40514E;
}
h1{
  font-size: 562.5%;
margin: 75px auto 0 auto;
font-family: 'Sacramento', cursive;
;color: #009DAE;
}



.top-container{background-color: #E4F9F5;
  position: relative;/*tijim t7awil ily fi wistou par rapport lilou*/
padding: 100px 0px;


}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #009DAE;
  padding-bottom: 10px;
  }
h3{
  font-family: 'Montserrat', sans-serif;
  color: #396EB0;
}
p{
  line-height: 2;
  margin-bottom: 30px;
}
hr{
  border: dotted #009DAE 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
a{
  color: #000D6B;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover{
  color: #F7F7F7;
}
.team-img{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.prob-img{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.middle-container{
padding-top: 50px;
}

.bottom-container{ background-color: #66BFBF;
  padding: 50px 0 20px;

}
.pro{ text-decoration: underline;}
.bottom-cloud{position: absolute;/*mach yet7arik par raport lily hazouu*/
left:250px;
bottom:300px; }
.top-cloud{ position: absolute;
  right: 300px;
  top: 40px;}
  .skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
  }
  .intro{
    width: 30%;
    margin: auto;
  }
  .contact-me{
    width:40%;
    margin: 40px auto 60px;
  }
  .btn {
  background: #0099ff;
  background-image: -webkit-linear-gradient(top, #0099ff, #336d91);
  background-image: -moz-linear-gradient(top, #0099ff, #336d91);
  background-image: -ms-linear-gradient(top, #0099ff, #336d91);
  background-image: -o-linear-gradient(top, #0099ff, #336d91);
  background-image: linear-gradient(to bottom, #0099ff, #336d91);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-top: 30px;
}

.btn:hover {
  background: #3cfcbf;
  background-image: -webkit-linear-gradient(top, #3cfcbf, #35b3ad);
  background-image: -moz-linear-gradient(top, #3cfcbf, #35b3ad);
  background-image: -ms-linear-gradient(top, #3cfcbf, #35b3ad);
  background-image: -o-linear-gradient(top, #3cfcbf, #35b3ad);
  background-image: linear-gradient(to bottom, #3cfcbf, #35b3ad);
  text-decoration: none;
}
.copy{
    color: #F7F7F7;
    font-size: 0.75rem;
    padding: 20px 0;
}
